* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.html */

.header {
    color: #afabab;
    background-color: #f5deb388;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("../images/background.svg");
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.conteudoPrincipal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "frontend frontend frontend frontend"
    "backend backend backend backend"
    "bancodados bancodados bancodados bancodados"
    "versionamento versionamento versionamento versionamento";
    gap: 5px 0;
    align-items: center;
    width: 80vw;
    height: 70vh;
    margin-top: 10vh;
    background-color: #f5deb388;
    border-radius: 55px;
}

h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #afabab;
    margin: 0 auto;
    padding: 5px;
    width: 205px;
    border-radius: 15px;
    background-color: rgba(34, 33, 33, 0.616);
}

.imagemContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imagem {
    max-width: 55px;
    margin: 20px 20px;
    transition: 0.1s;
}

.imagem:hover {
    scale: 1.5;
}

img {
    max-width: 100%;
}

.frontend {
    grid-area: frontend;
}

.backend {
    grid-area: backend;
}

.bancodados {
    grid-area: bancodados;
}

.versionamento {
    grid-area: versionamento;
}

.footer {
    width: 100vw;
}

@media screen and (max-width:1024px) {
    .backend .imagem, .frontend .imagem, .bancodados .imagem, .versionamento .imagem{
        width: 10%;
        margin-left: 15px;
        margin-top: 30px;
    }

    h4{
        margin-left: 0;
        text-align: center;
        margin-top: 35px;
        font-size: 25px;
    }
}

@media screen and (max-width:768px) {
    .backend .imagem, .frontend .imagem, .bancodados .imagem, .versionamento .imagem{
        width: 25%;
        margin-left: 15px;
        margin-top: 70px;
        text-align: left;
    }

    h4{
        margin-top: 70px;
        font-size: 25px;
        text-align: center;
    }
}


/* paginas das linguagens */

.conteudoPrincipalInterno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5deb3;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80vw;
    border-radius: 45px;
    padding: 25px;
}

.titulo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

ul.a {
    list-style-type: disc;
    margin-left: 25px;
}

.subtitulo {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sobre {
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.direitos {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: rgb(7, 37, 82);
}

.voltar {
    width: 45px;
    
    position: fixed;
    bottom: 5%;
    left: 5%;
}

.video {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width:1030px) {
    .sobre {
        padding-bottom: 0;
        padding-top: 0;
        padding: 50px;
    }
    .subtitulo {
        padding-bottom: 0;
        padding-top: 0;
    }
    .titulo {
        width: 45%;
    }
    iframe {
        width: 360px;
        height: 210px;
        margin: 2% 25%;
        margin-bottom: 8%;
    }
    .voltar img {
        width: 75px
    }
}

@media screen and (max-width:768px) {
    .sobre {
        padding-bottom: 0;
        padding-top: 0;
        padding: 50px;
    }
    .subtitulo {
        padding-bottom: 0;
        padding-top: 0;
    }
    .titulo {
        width: 60%;
    }
    iframe {
        margin-left: 25%;
        margin-top: 0;
        margin-bottom: 8%;
        width: 270px;
        height: 170px;
    }
    .voltar img {
        width: 50px
    }
}
