*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.html */

.header{
    color: #023634;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteudoPrincipal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "frontend frontend frontend frontend"
    "backend backend backend backend"
    "bancodados bancodados bancodados bancodados"
    "versionamento versionamento versionamento versionamento";
    gap: 5px 0;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #023634;
}

.imagemContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imagem{
    max-width: 65px;
    margin: 10px 20px;
    transition: 0.1s;
}

.imagem:hover {
    scale: 1.5;
}

img{
    max-width: 100%;
}

.frontend {
    grid-area: frontend;
}

.backend {
    grid-area: backend;
}

.bancodados {
    grid-area: bancodados;
}

.versionamento {
    grid-area: versionamento;
}

.footer {
    height: 15vh;
}

@media screen and (max-width:1024px){
    .backend .imagem, .frontend .imagem, .bancodados .imagem, .versionamento .imagem{
        width: 10%;
        margin-left: 15px;
        margin-top: 30px;
    }

    h4{
        margin-left: 0;
        text-align: center;
        margin-top: 35px;
        font-size: 25px;
    }
}

@media screen and (max-width:768px){
    .backend .imagem, .frontend .imagem, .bancodados .imagem, .versionamento .imagem{
        width: 25%;
        margin-left: 15px;
        margin-top: 70px;
        text-align: left;
    }

    h4{
        margin-top: 70px;
        font-size: 25px;
        text-align: center;
    }
}


/* paginas das linguagens */

.titulo{
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 33%;
    margin: 0px auto;
}

ul.a{
    list-style-type: disc;
    margin-left: 25px;
}

.subtitulo{
    text-align: center;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sobre{
    padding: 400px;
    padding-top: 0px;
    padding-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.direitos{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: rgb(7, 37, 82);
}

.voltar img{
    width: 100px;
    position: fixed;
    bottom: 5%;
    left: 5%;
}

iframe{
    margin-left: 35%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 560px;
    height: 315px;
}

@media screen and (max-width:1030px){
    .sobre{
        padding-bottom: 0;
        padding-top: 0;
        padding: 50px;
    }
    .subtitulo{
        padding-bottom: 0;
        padding-top: 0;
    }
    .titulo{
        width: 45%;
    }
    iframe{
        width: 360px;
        height: 210px;
        margin: 2% 25%;
        margin-bottom: 8%;
    }
    .voltar img{
        width: 75px
    }
}

@media screen and (max-width:768px){
    .sobre{
        padding-bottom: 0;
        padding-top: 0;
        padding: 50px;
    }
    .subtitulo{
        padding-bottom: 0;
        padding-top: 0;
    }
    .titulo{
        width: 60%;
    }
    iframe{
        margin-left: 25%;
        margin-top: 0;
        margin-bottom: 8%;
        width: 270px;
        height: 170px;
    }
    .voltar img{
        width: 50px
    }
}
